# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/
data/bronze/
data/silver/
data/gold/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db